{% extends "index.html.twig" %}
{% block title %} Liste des Pet - {{ parent() }}{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Liste des Pet</h1>
    </div>
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>


                <th scope="col">Prenom</th>
                <th scope="col">Age</th>
                <th scope="col">Caractère</th>
                <th scope="col">Entente</th>
            </tr>
            </thead>
            <tbody>

            <a class="btn btn-danger" href="/Pet/Add"><i class="fas fa-plus"></i><p>Creation d'pet</p></a>
            <br>
            <br>
            {% for pet in PetList %}
                <tr>
                    <td>{{ pet.APrenom }}</td>
                    <td>{{ pet.AAge | date("d/m/Y")}}</td>
                    <td>{{ pet.Caractere }}</td>
                    <td>{{ pet.Entente }}</td>
                    <td>




                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>


{% endblock %}