{% extends "index.html.twig" %}
{% block title %} Liste des articles - {{ parent() }}{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Liste des articles</h1>
    </div>
    <div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titre</th>
            <th scope="col">Auteur</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articleList %}
            <tr>
                <th scope="row"><a href="/Article/Show/{{ article.id }}">#{{ article.id }}</a></th>
                <td>{{ article.Titre }}</td>
                <td>{{ article.Auteur }}</td>
                <td>{{ article.DateAjout | date("d/m/Y") }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-success" href="/Article/Show/{{ article.id }}"><i class="far fa-eye"></i></a>
                        <a class="btn btn-warning" href="/Article/Update/{{ article.id }}"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-danger" href="/Article/Delete/{{ article.id }}"><i class="far fa-trash-alt"></i></a>
                    </div>
                    <a class="btn btn-secondary" href="/Article/WriteOne/{{ article.id }}"><i class="fas fa-file-download"></i></a>

                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>


{% endblock %}