{% extends "index.html.twig" %}
{% block title %} Liste des User - {{ parent() }}{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Liste des Users</h1>
    </div>
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Nom</th>
                <th scope="col">Nom</th>
                <th scope="col">Nom</th>
                <th scope="col">Nom</th>
            </tr>
            </thead>

            <tbody>

            <th scope="row"><a href="/Utilisateur/Show/{{ utilisateur.IdUtilisateur }}">#{{ utilisateur.IdUtilisateur }}</a></th>
            <td>{{ utilisateur.IdUtilisateur }}</td>
            <td>{{ utilisateur.UNom }}</td>
            <td>{{ utilisateur.UNom }}</td>
            <td>{{ utilisateur.UNom }}</td>

            </tbody>
        </table>
    </div>


{% endblock %}